.page-title {
  text-align: center;
}

.slider-container {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
a {
  color: #000; /* or whatever colour you prefer - you may also use inherit */
  text-decoration: none;
  
}

.rating-common-card {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px 62px;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(8,35,48,.24);
  border-radius: 4px;
}
.rating-common-card__title {
  margin-top: 0;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.rating-common-card__info {
  position: relative;
  font-size: 44px;
  line-height: 44px;
  font-weight: 600;
}
.rating-common-card__text {
  z-index: -1;
}
.rating-common-card__triangle {
  position: absolute;
  z-index: -1;
}
.rating-common-card__triangle._vers1 {
  width: 163px;
  height: 82px;
  left: -20px;
  top: -16px;
}
.rating-common-card__triangle._vers2 {
  width: 126px;
  height: 63px;
  transform: rotate(52deg);
  left: -29px;
  top: -6px;
}
.rating-common-card__triangle._vers3 {
  width: 62px;
  height: 83px;
  right: 0;
  top: -28px;
}
.rating-common-card__triangle._vers4 {
  width: 62px;
  height: 83px;
  left: -7px;
  top: -14px;
  transform: rotate(194deg);
}
.rating-common-card__triangle._vers5 {
  width: 62px;
  height: 83px;
  right: 19px;
  top: -17px;
  transform: rotate(78deg);
}